{% extends 'base.html.twig' %}

{% block title %}Lecture de nom du Book - WriterHero{% endblock %}

{% block body %}
<div class="container">
    <h1>Titre du Book</h1>
    {{ dump(book) }}
</div>
{% endblock %}
