{% extends 'base.html.twig' %}

{% block title %}Marque-page{% endblock %}

{% block body %}
<div class="container">
    <h1>Marque-page</h1>
    <p>Vos marque-pages vous permettent de revenir à une lecture de Book au dernier point où vous vous êtes arrêtés.</p>
    <p>Pensez à les savegarder</p>
    
    
</div>
{% endblock %}
